<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
        <link rel="stylesheet" th:href="@{css/navbar.css}">
        <link rel='stylesheet'
            href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
        <link rel="stylesheet"
            href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <title>Trang chủ</title>
        <style>
    </style>
    </head>
    <body>
        <div th:replace="navbar :: navbar"> </div>

        <section class="home" id="Dashboard">
            <div class="text container">
                <canvas id="ChartPredict"
                    style="width:100%;max-width:500px;display:inline;"></canvas>
            </div>
            <div class="text container">
                <canvas id="ChartThisYear"
                    style="width:100%;max-width:500px;display:inline;"></canvas>
            </div>
            <div class="text container">
                Các xe đăng kiểm trong tháng này
                <table id="ThisMonthNew" class="display"></table>
            </div>
            <div class="text container">
                Các xe dự kiến sẽ tái đăng kiểm trong tháng này
                <table id="PredictThisMonth" class="display"></table>
            </div>
        </section>

        <section class="home" id="Search" hidden>
            <div class="text">Tra Cứu</div>
        </section>

        <section class="home" id="Add" hidden>
            <div class="text">Thêm Phương Tiện Mới</div>
        </section>

        <section class="home" id="Predict" hidden>
            <div class="text">Dự Đoán Tháng Tới</div>
        </section>

        <section class="home" id="ADMIN" hidden>
            <div class="text">Quản Lý Tài Khoản</div>
        </section>
        <script th:src="@{/js/dashboard.js}"></script>
    </body>
</html>