<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
        <link rel="stylesheet" th:href="@{css/navbar.css}">
        <link rel='stylesheet'
            href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
        <link rel="stylesheet"
            href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <title>Trang chủ</title>
        <style>
    </style>
    </head>
    <body>
        <div th:replace="~{navbar :: navbar}"> </div>

        <section class="home" id="Dashboard">
            <div class="text container">
                <canvas id="ChartPredict"
                    style="width:100%;max-width:500px;display:inline;"></canvas>
            </div>
            <div class="text container">
                <canvas id="ChartThisYear"
                    style="width:100%;max-width:500px;display:inline;"></canvas>
            </div>
            <div class="text container">
                Các xe đăng kiểm trong tháng này
                <table id="ThisMonthNew" class="display"></table>
            </div>
            <div class="text container">
                Các xe dự kiến sẽ tái đăng kiểm trong tháng này
                <table id="PredictThisMonth" class="display"></table>
            </div>
        </section>

        <section class="home" id="Search" hidden>
            <div class="text container big">
                <table id="SearchAll" class="display" style="width: 100%;"></table>
            </div>
        </section>

        <section class="home" id="Add" hidden>
            <div class="text container long">
                <div class="text form-header">
                    Đơn đăng ký thêm phương tiện
                </div>
                <form class="add-Vehicle" autocomplete="off">
                    <label for="ownername">Tên chủ phương tiện:</label>
                    <span>
                        <i class='bx bx-user'></i>
                        <input type="text" id="ownername" name="ownerName"
                            placeholder="Họ và Tên" required>
                    </span>
                    <label for="region">Chọn tỉnh đăng ký:</label>
                    <span>
                        <i class='bx bx-location-plus'></i>
                        <select id="region" name="lastRegion">
                            <option value="AN_GIANG">An Giang</option>
                            <option value="BA_RIA_VUNG_TAU">Bà Rịa Vũng Tàu</option>
                            <option value="BAC_LIEU">Bạc Liêu</option>
                            <option value="BAC_GIANG">Bắc Giang</option>
                            <option value="BAC_KAN">Bắc Kạn</option>
                            <option value="BAC_NINH">Bắc Ninh</option>
                            <option value="BEN_TRE">Bến Tre</option>
                            <option value="BINH_DUONG">Bình Dương</option>
                            <option value="BINH_DINH">Bình Định</option>
                            <option value="BINH_PHUOC">Bình Phước</option>
                            <option value="BINH_THUAN">Bình Thuận</option>
                            <option value="CA_MAU">Cà Mau</option>
                            <option value="CAO_BANG">Cao Bằng</option>
                            <option value="CAN_THO">Cần Thơ</option>
                            <option value="DA_NANG">Đà Nẵng</option>
                            <option value="DAK_LAK">Đắk Lắk</option>
                            <option value="DAK_NONG">Đắk Nông</option>
                            <option value="DIEN_BIEN">Điện Biên</option>
                            <option value="DONG_NAI">Đồng Nai</option>
                            <option value="DONG_THAP">Đồng Tháp</option>
                            <option value="GIA_LAI">Gia Lai</option>
                            <option value="HA_GIANG">Hà Giang</option>
                            <option value="HA_NAM">Hà Nam</option>
                            <option value="HA_NOI">Hà Nội</option>
                            <option value="HA_TINH">Hà Tĩnh</option>
                            <option value="HAI_DUONG">Hải Dương</option>
                        </select>
                    </span>
                    <label for="type">Chọn loại phương tiện: </label>
                    <span>
                        <i class='bx bxs-car'></i>
                        <select id="type" name="type">
                            <option value="TYPE_1">Xe loại 1</option>
                            <option value="TYPE_2">Xe loại 2</option>
                            <option value="TYPE_3">Xe loại 3</option>
                            <option value="TYPE_4">Xe loại 4</option>
                            <option value="TYPE_5">Xe loại 5</option>
                        </select>
                    </span>
                    <label for="platenumber">Biển số xe:</label>
                    <span>
                        <i class='bx bxs-car-wash'></i>
                        <input type="text" id="platenumber" name="platenumber"
                            placeholder="Mã số" minlength="8" maxlength="8"
                            required>
                    </span>
                    <label for="createdDate">Thời điểm xe được sản xuất:</label>
                    <span>
                        <i class='bx bxs-calendar'></i>
                        <input type="date" id="createdDate" name="createdDate"
                            required>
                    </span>
                    <label for="newestDate">Lần gần nhất tái đăng kiểm:</label>
                    <span>
                        <i class='bx bx-calendar-alt'></i>
                        <input type="date" id="newestDate" name="newestDate">
                        (Không bắt buộc)
                    </span>
                    <input type="submit" value="Đăng Ký">
                </form>
            </div>
        </section>

        <section class="home" id="Predict" hidden>
            <div class="text container">Dự Đoán Tháng Tới</div>
        </section>

        <section class="home" id="ADMIN" hidden>
            <div class="text container big">Quản Lý Tài Khoản</div>
        </section>
        <script th:src="@{/js/dashboard.js}"></script>
    </body>
</html>