<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/css/test.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">
</head>

<body>
<div class="wrapper">
    <header>Đăng nhập</header>
    <form action="#">
        <div th:if="${param.logout}" class="notify">
            Bạn đã đăng xuất
        </div>
        <div class="field email">
            <div class="input-area">
                <input type="text" id="username" name="username" placeholder="Tên người dùng">
                <i class="icon fas fa-envelope"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Tên người dùng không thể bỏ trống</div>
        </div>
        <div class="field password">
            <div class="input-area">
                <input type="password" id="password" name="password" placeholder="Mật khẩu">
                <i class="icon fas fa-lock"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Mật khẩu không thể để trống</div>
        </div>
        <input type="submit" value="Đăng nhập">
    </form>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>